@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --bg1:#A0F1BD ;
    --bg2: #F9F9F9 ;
    --bg3: #2E4F21;
    --bg4: #CBCBCB;
    --bg5: #F4F7F5;
    --bg6: #D2F8DC;

    --ac1: #D2F8DC;
    --ac2: #D7D7D7;

    --paragraph: #2E4F21;
    --oa1: #CBCBCB;
    --oa2: #506349;
    --oa3: #7D9276;
    --oa4: #D5E4D0;

    --divider1: #2E4F21 ;
    --divider2: #CBCBCB  ;

    --font1: "Quicksand", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font1);

}

.media-query {
    display: none;
}

body {
    background-color: var(--bg2);
    min-height: 100vh; 
    width: 100%;
}

/* Cabeçalhop */

 header {
    background-color: var(--bg1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
 }

 header > a {
    padding: 8px;
    font-size: 0.5em;
    text-decoration: none;
    color: var(--paragraph);
 }

 header > nav > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--paragraph);
    margin-right: 10px;
 }

 #nav-b {
    background-color: var(--paragraph);
    color: white;
    padding: 12px;
    border-radius: 20px;
 }

 /* main */

.home {
    background-color: var(--bg1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.home  img {
    width: 343px;
    margin-top: 40px;
}

.home  h1 {
    color: var(--paragraph);
    font-weight: 700;
    padding: 10px;
    font-size: 2em;
    margin-left: 10px;
}

.home  p {
    color: var(--paragraph);
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}

.home  a {
    text-decoration: none;
    background-color: var(--paragraph);
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 10px;
    align-self: flex-start;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
    
}

.services {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--paragraph);
    font-weight: 700;
}

.services h2 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom:40px;
}

.services #p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0 10px;
    text-align: center;
    font-size: 2em;
}

.services #p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 30px;
    padding: 0 10px;
    text-align: center;
}

.services a {
    padding: 15px 20px;
    background-color: var(--paragraph);
    color: white;
    text-decoration: none;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}


.boxes-content .box {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 20px;
    background-color: var(--ac1);
    height: auto;
    width: 90vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}

.box img {
    margin-top: 40px;
    padding: 20px;
}

.box h3 {
    color: var(--paragraph);
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 40px
}

.box p {
    color: var(--paragraph);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 30px;
}

.box nav {
    display: flex;
    flex: 1 1 nowrap;
    padding-top: 50px;
    justify-content:left;
    margin-left: 20px;
    padding-bottom: 30px;
}

.box nav a {
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--bg2);
    padding: 10px;
    color: var(--oa2);
    font-size:0.9em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}

.box-info {
    background-color: white;
    width: 95vw;
    margin: 70px auto;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}

.box-info h2 {
    color: var(--paragraph);
    padding: 40px 50px;
    text-align: center;
    font-size: 2.15em;
}

.grid-style {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px; 
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.a1 {
    grid-column: span 4; 
    border-top: 1px solid var(--divider1);
    padding-top: 15px;
}

.a1s {
    grid-column: span 4;
    background-color: var(--bg3);
    color: #fff;
    padding: 25px; 
    border-radius: 20px;
    margin-top: -10px; 
}

.a1s h3 {
    border-top: 1px solid white;
    
}

.a1 h3, .a1s h3 {
    font-size: 1em;
    color: var(--bg3);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 15px;
    max-width: 150px; /* Força a quebra de linha como no "Photograp her" */
}

.a1 p, .a1s p {
    font-size: 0.9rem;
    color: var(--paragraph);
    margin: 0;
}

.a1s h3 {
    color: var(--bg4);
}

.a1s p{
    color: var(--oa3);
 }

 .person-p {
    padding: 0 15px;
    color: var(--bg3);
    font-weight: bolder;
    margin-bottom: 40px;
 }

 .person > .img-mg {
    display: flex;
    align-items: center;
    padding: 0 40px 30px 20px;
    justify-content: space-around;
 }

.person > .img-mg p {
    color: var(--paragraph);
    font-weight: bold;
}

.img-main > img {
    width: 100%;
}

.info-main {
    padding: 0 20px;
}

.info-main > .g1 > h2 {
    color: var(--paragraph);
    font-size: 2em;
    padding-top: 80px;
}

.info-main > .g1 > p {
    margin: 40px 0 70px 0;
    color: var(--paragraph);
}

.grade {
    border-top: 1px solid var(--bg3);
    padding-top: 40px;
    margin-bottom: 30px;
    color: var(--divider1);
}


.grade h3 {
    margin-top: 20px;
    font-weight: 900;

}

.grade h4 {
    margin-top: 20px;
}

.grade p {
    margin-top: 20px;
}

.img-end {
    padding: 80px 0;
    text-align: center;
}

.custom {
    width: 90vw;
    background-color: var(--bg3);
    margin: 0 auto;
    padding: 60px 70px;
    border-radius: 20px;
    color:white;
}

.custom h2 {
    font-size: 2em;
    margin-bottom: 50px;
    text-align: justify;
}

.custom p {
    margin-bottom: 60px;
}


.custom a {
    background-color: white  ;
    padding: 12px;
    border-radius: 40px;
    text-decoration: none;
    color: var(--bg3);
    font-weight:bold ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}

.first-end {
    padding: 80px 20px;
    text-align: center;
}

.first-end h2 {
    font-size: 1.5em;
    color: var(--paragraph);
    margin-bottom: 30px;
}

.first-end a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--bg3);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
}

footer {
    background-color: var(--bg3);
}

footer img {
    padding: 30px 20px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.main-footer p {
    font-size: 0.8em;
    color: white;
}

.main-footer a {
    background-color: white;
    color: var(--bg3);
    font-size: 0.9em;
    padding: 12px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);

}

.end-footer {
    padding: 40px 15px;
    color: white;
    font-size: 0.8em;
}

.end-footer #copy {
    margin-top: 30px;
}